@keyframes shake {
    0% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    20% {
        transform: rotateX(-20deg) rotateY(-20deg);
    }
    40% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    60% {
        transform: rotateX(-20deg) rotateY(-20deg);
    }
    80% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(-20deg);
    }
}
.classHeader {
    margin: 30px 0;
    animation: shake 0.9s ease;
}
.classHeader > a {
    text-decoration: none;
    color: #111;
    margin-right: 10px;
    transition: all 0.3s ease;
}
.classHeader > a:hover {
    border-bottom: 2px solid #0b76ef;
    color: #4caf50;
}
